/*General*/
body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}
/*End General*/


/*Header*/

    /*Navigation*/
    .header-top {  
        overflow:auto;
        background-color: #5f457b;
        padding-top: 30px;
        padding-bottom: 30px;
        position: fixed;
        box-shadow: 0 3px 20px 1px #242029;
        z-index:1;
        width:100%;
    }
    .navigation-title {
        float:left;
        padding-left:50px;
        font-size: 23px;
        color: #fff;
        text-shadow: 3px 3px 7px #2f223e;
    }
    .navigation {
        float: right;
        padding-right: 15px;
        display: block;
    }
    .navigation-list {
        list-style-type: none;
        margin: 0;
    }
    .navigation-item {
        display:inline-block;
        padding-left: 15px;
        padding-right: 15px;
    }
    .navigation-item a{
        text-decoration: none;
        color: #fff;
        font-size: 19px;
        text-shadow: 3px 3px 7px #2f223e;
    }
    .navigation-item:hover a {
        color: #47c8d0;
    }

    .mobile-navigation {
        display: none;
    }
    .mobile-navigation-menu.closed {
        display: none;
    }
    .mobile-navigation-menu.open {
        display: block;
        clear: both;
    }
    .mobile-navigation-list {
        margin: 0;
        padding-left: 0;
        position: relative;
        top: 29px;
    }
    .mobile-navigation-list .navigation-item {
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
        .mobile-navigation-list .navigation-item a {
            width: 100%;
            display: block;
            padding-top: 5px;
            padding-bottom: 5px;
            border-bottom: 1px solid #fff;
            background-color: #d9c2f3;
            text-align:center;
        }
    .burger-icon {
        float: right;
        padding-right:30px;
        cursor: pointer;
    }
    .burger-bar {
        width: 50px;
        height: 5px;
        background-color: #fff;
        margin-top: 5px;
        border-radius:4px;
        box-shadow: 0 3px 7px #2f223e;
    }
    /*End Navigation*/

    .header-image {
        position: relative;
        background-image: url(../images/topbckgrdblue.png);
        background-size: cover;
        background-attachment: fixed;
    }
    .header-text {
        max-width: 1300px;
        margin: 0 auto;
        padding-top: 300px;
        padding-bottom: 360px;
        padding-left:15px;
        padding-right:15px;
        
    }
    .header-title {
        font-size: 66px;
        color: #fff;
        text-shadow: 1px 3px 7px #000;
        font-weight: bold;
    }
    .header-subtitle {
        font-size: 23px;
        color: #fff;
        text-shadow: 1px 3px 7px #000;
    }
/*End Header*/

/*About*/
.about-section {
    background-image: url('../images/bckgrd3.png');
    padding-top: 127px;
    padding-bottom:127px;
    background-color:#b4eff3;
    border-top:5px solid #48c5cc;
    border-bottom: 5px solid #48c5cc;
}
.about-box {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 65px;
    box-shadow: 0 2px 14px #5c9ca0;
}
.about-box-header {
    font-size: 30px;
    padding-bottom: 15px;
}
.about-content {
    font-size: 18px;
}
/*End About*/

/*Resume*/
.resume-section {
    background-color: #d9c2f3;
    padding-bottom: 50px;
}
.resume-header {
    font-size: 49px;
    font-weight:bold;
    color: #fff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 5px solid #fff;
    margin-bottom: 25px;
    background-color: #5f457b;
}
.resume-box {
    background-color: #fff;
    max-width: 1300px;
    margin: 0 auto;
    padding: 15px;
    margin-top: 25px;
    margin-bottom: 10px;
    border: 2px solid #35989e;
    box-shadow: 0px 2px 10px 0px #79599c;
}
.box-header {
    font-size: 25px;
    font-weight: bold;
    color: #35989e;
    border-bottom: 2px solid;
    margin: -15px -15px 10px -15px;
    padding: 10px 15px;
    background-color: #b4eff3;
}
.experience-item-title {
    font-weight: bold;
    font-size: 19px;
}
.education-title {
    font-size: 19px;
    font-weight: bold;
}
.education-more-info {
    padding-top: 15px;
}
.more-title {
    font-weight: bold;
}
/*End Resume*/

/*Gallery*/

/*End Gallery*/

/*Contact*/
.contact-section {
    background-color: #47c8d0;
    border-top: 5px solid #5f457b;
    padding-bottom: 15px;
}
.contact-header {
    text-align: center;
    padding-top: 25px;
    padding-bottom: 20px;
    font-size: 21px;
    font-weight: bold;
    color: #045256;
}
.contact-email {
    text-align: center;
    color: #fff;
    font-weight: bold;
}
.contact-email a {
    color: #fff;
}
.instagram {
    max-width: 35px;
    margin: 0 auto;
    text-align: center;
    display: block;
    padding: 3px;
    background-color: #fff;
    border-radius: 6px;
    margin-top: 10px;
}
.instagram:hover {
    background-color: #b4eff3;
    box-shadow: 0 3px 9px #24696d;
}
/*End Contact*/

/*Footer*/
.footer {
    background-color: #5f457b;
    color :#fff;
    padding-top: 20px;
    padding-left: 65px;
    padding-bottom: 20px;
    box-shadow: 0 -1px 11px #382e42;
}
/*End Footer*/

/****Mobile Styles****/


@media only screen and (max-width: 1300px) {
        /*Resume*/
        .resume-box {
            margin-left: 10px;
            margin-right: 10px;
        }
        /*End Resume*/
}

    @media only screen and (max-width: 768px) {
        /*Header*/

        /*Navigation*/
        .navigation {
            display: none;
        }

        .navigation-title {
            font-size: 20px;
            padding-left: 30px;
        }

        .mobile-navigation {
            display: block;
        }
        /*End Navigation*/

        .header-text {
            text-align: center;
            padding-top: 200px;
            padding-bottom: 225px;
        }

        .header-title {
            font-size: 47px;
        }

        .header-subtitle {
            font-size: 22px;
        }
        /*End Header*/

        /*About*/
        .about-box {
            padding: 65px 20px;
        }
        /*End About*/


    }